src/main/mule/demo-for-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81697dcb-1c1b-4c77-b379-78e9b112cfa9" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="demo-for-gitFlow" doc:id="3d252164-60ce-4b2b-9e7d-0f693ca298ea" >
		<http:listener doc:name="Listener" doc:id="18aa1437-1245-457e-a77a-2dba548570f3" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["This is for test purpose"]' doc:name="Set Payload" doc:id="416e5279-bd06-4803-abb2-68ff0d5f9d36" />
		<logger level="INFO" doc:name="Logger" doc:id="576046d3-b0eb-4151-8708-9784d27df77e" message="just new test"/>
	</flow>
</mule>
